header.header

    .header__wrapper

        .header-langs.header-langs_inner-page

            .header-langs__lang.header-langs__lang_active EN
            .header-langs__separator /
            .header-langs__lang RU

        nav.header-nav

            .header-nav__wrapper

                a(href="/").logo
                    .logo__img

                +menuList([
                        {title: "Услуги", href: "/services.html"},
                        {title: "Команда", href: "/team.html"},
                        {title: "Проекты", href: "/projects.html"},
                        {title: "Контакты", href: "/contacts.html"},
                    ], 0, 'menu')

                div.header-nav__burger.hamburger.hamburger--collapse(type='button', aria-label='Menu', aria-controls='navigation', aria-expanded='true/false')
                    span.hamburger-box
                        span.hamburger-inner
