include ../mixins/mixins.pug

block variables
    - let date = new Date();

doctype html
html.html(lang="ru")

    head

        title Основа
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="msapplication-TileColor" content="#ffffff")
        //meta(name="msapplication-TileImage" content="/images/faviocns/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="/css/main.css?" + date)

    body.body

        block layoutPage

        noscript У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.

        block scripts
            script(defer src='/js/common.js?'  + date)
            script(src="/js/vendors~polyfills.js?" + date)
            script(src="/js/polyfills.js?" + date)
            script(src="/js/main.js?" + date)
