
extends layout.pug

block layoutPage

    include header.pug

    .body__swiper
        .body__swiper-wrapper
            .body__bg
            .body__bg(style="background-image: url('/images/projects/slider-1.jpg');")
            .body__bg(style="background-image: url('/images/projects/slider-2.jpg');")

    main.main.main_index-page

        .main__wrapper

            block content

    include footer.pug
