@use '../utils/vars' as global;

.button {

    display: flex;

    cursor: pointer;
    border: 0;
    outline: none;
    &::-moz-focus-inner {
        border: 0;
    }

    &_feedback {
        font-family: global.$font-titles;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 38px;
        text-transform: uppercase;
        color: global.$color-white;
        background: global.$color-blue-2;
        padding: 10px 17px;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: background .3s, color .3s, border .3s;

        &:hover {
            background: global.$color-white;
            color: global.$color-blue-2;
            border: 1px solid global.$color-blue-2;
            transition: background .3s, color .3s, border .3s;
        }

        &:active {
            color: global.$color-blue-3;
            border: 1px solid global.$color-blue-3;
            transition: background .3s, color .3s, border .3s;
        }
    }

}

// use BAM modifier
