.logo {
    height: 100%;
    min-width: 139px;
    position: relative;

    @media screen and (max-width: 956px) {
        min-width: 129px;
    }

    &__img {
        position: absolute;
        top: -16px;
        left: 0;
        width: 139px;
        height: 129px;
        background: url("/images/logo.png") no-repeat center;
        background-size: cover;

        @media screen and (max-width: 956px) {
            width: 129px;
            height: 121px;
            top: -14px;
        }
    }
}