@use '../utils/vars' as global;

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    @media screen and (max-width: 656px) {
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        background: global.$color-white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 105px 15px 104px 15px;
        transform: translateX(100%);
        transition: transform .4s;

        .menu__item {
            height: auto;
            height: 100px;
        }

        .menu__link {
            font-size: 36px;
            line-height: 40px;
        }
    }

    &_active {
        transform: translateX(0%);
        transition: transform .4s;
    }

    &__item {
        height: 100%;
        display: flex;
        align-items: center;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        transition: color .2s;
        box-sizing: border-box;
        color: global.$color-black;
        font-family: global.$font-titles;
        text-transform: uppercase;

        @media screen and (max-width: 856px) {
            font-size: 25px;
            line-height: 30px;
        }

        &:visited {
            color: global.$color-black;
        }
        &:hover {
            color: global.$color-blue-2;
            transition: color .2s;
        }

        &:active {
            color: global.$color-blue-3;
            transition: color .2s;
        }
    }
}