@use '../utils/vars' as global;

.title {

    margin: 0;

    text-transform: uppercase;

    font: 600 18px global.$font-titles;

    &_h1 {

        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        text-transform: uppercase;
        color: global.$color-blue-2;

    }

    &_h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 27px;
        text-transform: uppercase;
        color: global.$color-blue-2;
    }

    &_red {
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 27px;
        text-transform: uppercase;
        color: global.$color-red;
        white-space: pre-line;

        @media screen and (max-width: 768px) {
            white-space: pre-line;
        }
    }
}

// use BAM modifier
