extends ../layout/layoutInnerPage.pug

block content
    .main__wrapper

        section.main__content.content-contacts

            .content-contacts__map(id="ymap")
                .content-contacts__map-overlay

            .content-contacts__wrapper

                h1.title.title_h1 контакты - ООО “Эксперт-Сервис”

                .content-contacts__contacts

                    .content-contacts__contact.content-contacts__contact_director Директор:  Никита Ананьин

                    .content-contacts__contact.content-contacts__contact_phone Телефон:
                        a(href="tel:+79115624796").content-contacts__contact-link + 7 911 562 47 96;

                    .content-contacts__contact.content-contacts__contact_email email:
                        a(href="mailto:info@expert-service29.ru").content-contacts__contact-link info@expert-service29.ru

                    .content-contacts__contact.content-contacts__contact_address Адрес:  г. Архангельск, ул. Свободы, д.23

                    .content-contacts__contact ИНН 2901093220

                h1.title.title_h1 написать письмо

                .main-form

                    form().main-form__wrapper

                        .material-input(id="material-input-name")
                            input(id="name" type="text" required name="name")
                            label(for="name") От кого:

                        .material-textarea(id="material-textarea")
                            textarea(id="message" rows="1" name="question")
                            label(for="message") Текст письма:

                        button.button.button_feedback отправить


block append scripts
    script(defer src='/js/vendors~contacts~material-input.js?'  + date)
    script(defer src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")
    script(defer src='/js/contacts.js?'  + date)

