extends ../layout/layoutPage.pug

block content
    .main__wrapper

        section.main__content

block append scripts
    script(defer src='/js/vendors~index~projects.js?' + date)
    script(src='/js/index.js?' + date)
