extends ../layout/layoutInnerPage.pug

block content
    .main__wrapper

        section.main__content.content-projects

            h1.title.title_h1 проекты

            h3.title.title_red.
                Выполнение морских сейсмических работ 2D, 3D и обеспечение
                научно-исследовательских экспедиций

            .content-projects-items

                - for (let i = 0; i < 2; ++i)
                    .content-projects-item

                        .content-projects-item__title Предоставление судна «Капитан Шершнев»

                        .content-projects-item__slider

                            .content-projects-item__slider-wrapper

                                a(href="/team.html").content-projects-item__slide
                                    .content-projects-item__image

                                a(href="/team.html").content-projects-item__slide
                                    .content-projects-item__image

                                a(href="/team.html").content-projects-item__slide
                                    .content-projects-item__image

                            .content-projects-item__arrow(id="arrow-left")
                            .content-projects-item__arrow.content-projects-item__arrow_right(id="arrow-right")

                            .content-projects-item__dots-wrapper
                                .content-projects-item__dots
                                    .content-projects-item__dot
                                    .content-projects-item__dot
                                    .content-projects-item__dot

                .content-projects-item

                    .content-projects-item__title Предоставление судна «Капитан Шершнев»

                    .content-projects-item__block

                        .content-projects-item__block-wrapper

                            .content-projects-item__content

                                a(href="#").button.button_feedback подробнее

                            .content-projects-item__image

block append scripts
    script(defer src='/js/vendors~index~projects.js?' + date)
    script(src='/js/projects.js?' + date)
