extends ../layout/layoutInnerPage.pug

block content
    .main__wrapper

        section.main__content.main-services

            h1.title.title_h1 наши Услуги

            .main-services__block

                ul
                    li Выполнение морских сейсмических работ 2D, 3D и обеспечение научно-исследовательских экспедиций
                    li Поиск затонувших объектов
                    li Выполнение подводных операций на глубинах до 300 м (водолазы, ROV/AUV аппараты)
                    li Управление флотом (коммерческая и техническая эксплуатации)
                    li Ремонт/модернизация судов, буровых платформ и гидротехнических сооружений
                    li Выполнение дноуглубительных работ

            .main-services__block

                ul
                    li Фрахтование судов
                    li Предоставление специализированного оборудования для выполнение морских операций и исследований
                    li Агентирование
                    li Комплексное снабжение флота
                    li Организация буксирного обеспечения с нуля в портах
                    li Буксировка судов и объектов
                    li Организация грузовых операций

            .main-services__block

                ul
                    li Консалтинг в сфере морского транспорта и нефтегазовой отрасли
                    li Брокерские услуги
                    li Аудит судов по стандартам IMCA, OCIMF, классификационного общества, технический аудит
                    li Обзор, идентификация и квалификация поставщиков


//- block append scripts
//- script(src='./js/another-js.js')
