extends ../layout/layoutInnerPage.pug

block content
    .main__wrapper

        section.main__content.main-team

            h1.title.title_h1 Команда

            .main-team__text-block

                span 10 человек
                |– руководители проектов с опытом более 15 лет в сферах: освоение нефти и
                |газа, логистика, судостроение, судоремонт, эксплуатация промышленных объектов,
                |морская сейсмика, морской транспорт, альтернативная энергетика, инвестиционные
                |проекты, оценка экономической эффективности
                br
                span 5 человек
                |– стратегические партнёры и инвесторы
                br
                span > 50 человек
                |– привлекаемый квалифицированный персонал (ИТР)
                br
                span > 500 человек
                |– привлекаемый рабочий персонал

            .main-team__countries-block

                .main-team__countries-item

                    h2.title.title_h2 Зарубежные партнёры в странах:

                    ul
                        li Норвегия
                        li Дания
                        li Финляндия
                        li Швеция
                        li Великобритания
                        li Сингапур
                        li Люксембург
                        li ОАЭ


                .main-team__countries-item

                    h2.title.title_h2 Языки коммуникации и документации:

                    .main-team-langs

                        .main-team-langs__line

                            .main-team-langs__item
                                .main-team-langs__flag.main-team-langs__flag_ru
                                .main-team-langs__text
                                    .main-team-langs__name Русский
                                    .main-team-langs__code ru

                            .main-team-langs__item
                                .main-team-langs__flag.main-team-langs__flag_en
                                .main-team-langs__text
                                    .main-team-langs__name Английский
                                    .main-team-langs__code EN

                        .main-team-langs__line

                            .main-team-langs__item
                                .main-team-langs__flag.main-team-langs__flag_no
                                .main-team-langs__text
                                    .main-team-langs__name Норвежский
                                    .main-team-langs__code NO

                            .main-team-langs__item
                                .main-team-langs__flag.main-team-langs__flag_fr
                                .main-team-langs__text
                                    .main-team-langs__name Французский
                                    .main-team-langs__code FR

    section.team-map(id="ymap")
        .team-map__overlay

block append scripts
    script(defer src="https://api-maps.yandex.ru/2.1/?apikey=34630ee9-06c3-4202-8d68-ce620bdc1896&lang=ru_RU" type="text/javascript")
    script(defer src='/js/team.js?'  + date)
