$font-default: 'Montserrat', sans-serif;
$font-titles: 'Open Sans Condensed', sans-serif;
$font-secondary: 'Roboto', sans-serif;


$shadow-default: 0px 5px 9px rgba(0, 0, 0, 0.1);


$width-container: 1131px;


$color-black: #000;

$color-white: #fff;
$color-white-2: #E6E8E9;
$color-white-3: #E5E5E5;
$color-white-4: #D4D5D9;

$color-gray: #707070;

$color-blue: #2B4F95;
$color-blue-2: #305BB0;
$color-blue-3: #333970;

$color-red: #EE5828;
