@use '../utils/vars' as global;

.html {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;

    @media screen and (max-width: 656px) {
        //height: inherit;
    }

    &_menu-open {
        overflow: hidden;
        //position: fixed;
    }
}

* {
    -webkit-tap-highlight-color: transparent;

    &:active,
    &:focus {
        outline: none;
    }

    &:-moz-focus-inner {
        border: 0;
    }
}

a {
    outline: none;
    &::-moz-focus-inner {
        border: 0;
    }
}
.body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: global.$font-default;
    color: global.$color-black;

    z-index: 1;
    background: global.$color-white;

    &_menu-open {
        overflow: hidden;
    }

    &__swiper {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    &__swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

    &__bg {
        width: 100%;
        height: 100%;
        background-image: url("/images/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-shrink: 0;
    }
}

a {
    text-decoration: none;
}

