@use '../utils/vars' as global;

.content-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    margin-bottom: 52px;

    @media screen and (max-width: 856px) {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    &__map {
        height: 721px;
        max-height: 721px;
        width: 50%;
        padding-right: 52px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;

        @media screen and (max-width: 856px) {
            width: auto;
            margin-right: -30px;
            margin-left: -30px;
            height: 521px;
            padding-right: 0;
            margin-top: 30px;
        }

        @media screen and (max-width: 756px) {
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    &__map-overlay {
        display: none;
        z-index: 2;
        position: absolute;
        top: 40px;
        left: 40px;
        width: calc(100% - 40px);
        height: calc(100% - 100px);

        @media screen and (max-width: 756px) {
            display: block;
        }
    }

    &__wrapper {
        width: 50%;

        @media screen and (max-width: 856px) {
            width: 100%;
        }
    }

    &__contacts {
        margin-top: 20px;
        margin-bottom: 77px;
        display: flex;
        flex-direction: column;
    }

    &__contact {
        margin-bottom: 27px;
        font-family: global.$font-default;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 163.19%;
        color: global.$color-black;
        display: flex;
        position: relative;
        padding-left: 50px;

        &:before {
            position: absolute;
            left: 0;
            top: calc(50% - 10px);
            content: "";
            display: flex;
            background-size: contain;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &_director {
            &:before {
                background: url("/images/svgStore/director.svg") no-repeat center;
                width: 29px;
                height: 29px;
                top: calc(50% - 14.5px);
            }
        }

        &_phone {
            &:before {
                background: url("/images/svgStore/phone.svg") no-repeat center;
                width: 20px;
                height: 20px;
            }
        }

        &_email {
            &:before {
                background: url("/images/svgStore/email.svg") no-repeat center;
                width: 20px;
                height: 20px;
            }
        }

        &_address {
            &:before {
                background: url("/images/svgStore/address.svg") no-repeat center;
                width: 17.5px;
                height: 22.2px;
                top: calc(50% - 9.3px);
            }
        }
    }

    &__contact-link {
        color: global.$color-black;
        margin-left: 5px;
    }
}