@use '../utils/vars' as global;

.content-projects-items {
    margin-top: 42px;
    margin-bottom: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 756px) {
        flex-direction: column;
        align-items: center;
    }
}

.content-projects-item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 22px);
    margin-bottom: 51px;

    @media screen and (max-width: 756px) {
        width: 100%;
    }

    &__title {
        font-family: global.$font-secondary;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: global.$color-black;
        margin-bottom: 10px;
    }

    &__block {
        width: 100%;
        height: 412px;
        position: relative;
        overflow: hidden;
    }

    &__block-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        box-sizing: content-box;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            transform: translateY(100%);
            transition: transform .3s ease;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 60px 25px;
        box-sizing: border-box;
        justify-content: flex-end;
        z-index: 4;

        .button {
            max-width: 172px;
            width: 100%;
            flex-grow: 0;
            opacity: 0;
            transition: opacity .3s ease;
        }
    }

    &:hover {
        .content-projects-item__block-wrapper {
            &:after {
                transform: translateY(0%);
                transition: transform .3s ease;
            }
        }

        .content-projects-item__content {
            .button {
                opacity: 1;
                transition: opacity .3s ease;
            }
        }
    }

    &__slider {
        width: 100%;
        height: 412px;
        position: relative;
        overflow: hidden;
    }


    &__slider-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        box-sizing: content-box;
    }

    &__slide {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__image {
        height: 100%;
        width: 100%;
        background: url("/images/projects/slider-1.jpg") no-repeat center;
        background-size: cover;
    }

    &__arrow {
        cursor: pointer;
        z-index: 2;
        width: 29px;
        height: 51px;
        position: absolute;
        left: 25px;
        top: calc(50% - 25.5px);
        background: url("/images/svgStore/arrow.svg") no-repeat center;

        &_right {
            background: url("/images/svgStore/arrow.svg") no-repeat center;
            right: 25px;
            left: inherit;
            transform: rotate(180deg);
        }
    }

    &__dots-wrapper {
        z-index: 1;
        position: absolute;
        bottom: 34px;
        left: 0;
        width: 100%;
        justify-content: center;
        display: flex;
    }

    &__dots {
        display: flex;
        justify-content: center;
    }

    &__dot {
        cursor: pointer;
        width: 19px;
        height: 19px;
        border-radius: 100%;
        margin-right: 13px;
        background: global.$color-white;
        transition: background .3s;

        &_active {
            background: global.$color-blue-2;
            transition: background .3s;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background: global.$color-blue-2;
            transition: background .3s;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-last-child(2) {
        margin-bottom: 0;

        @media screen and (max-width: 756px) {
            margin-bottom: 51px;
        }
    }
}