@use '../utils/vars' as global;

.main-services {

    &__block {
        font-family: global.$font-default;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 175.2%;
        padding-bottom: 30px;
        margin-bottom: 27px;
        position: relative;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            &:before {
                content: "•";
                margin-right: 3px;
            }
        }

        &:after {
            position: absolute;
            top: 100%;
            left: -36px;
            content: '';
            display: block;
            height: 1px;
            width: calc(100% + 72px);
            background: global.$color-white-4;

            @media screen and (max-width: 956px) {
                left: -18px;
                width: calc(100% + 36px);
            }

            @media screen and (max-width: 756px) {
                left: -12px;
                width: calc(100% + 24px);
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}