@use '../utils/vars' as global;

.main-team {
    &__text-block {
        font-family: global.$font-default;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 163.19%;
        color: global.$color-black;
        margin-top: 12px;
        position: relative;
        padding-bottom: 42px;

        span {
            font-family: global.$font-secondary;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 20px;
            text-transform: uppercase;
            color: global.$color-black;
            margin-right: 4px;
        }

        &:after {
            position: absolute;
            top: 100%;
            left: -36px;
            content: '';
            display: block;
            height: 1px;
            width: calc(100% + 72px);
            background: global.$color-white-4;

            @media screen and (max-width: 956px) {
                left: -18px;
                width: calc(100% + 36px);
            }

            @media screen and (max-width: 756px) {
                left: -12px;
                width: calc(100% + 24px);
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__countries-block {
        margin-top: 43px;
        margin-bottom: 28px;
        display: flex;

        @media screen and (max-width: 956px) {
            flex-direction: column-reverse;
        }
    }

    &__countries-item {
        display: flex;
        flex-direction: column;
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 18px;
        }

        li {
            font-family: global.$font-default;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 163.19%;
            color: global.$color-black;

            &:before {
                content: "-";
                margin-right: 4px;
            }
        }

        @media screen and (max-width: 956px) {
            margin-bottom: 30px;

            &:first-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-team-langs {
    margin-top: 34px;
    max-width: 504px;
    display: flex;
    flex-wrap: wrap;

    &__line {
        display: flex;
        width: 100%;
        margin-bottom: 54px;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: 556px) {
            flex-direction: column;
            margin-bottom: 34px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 556px) {
            margin-bottom: 34px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__flag {
        width: 96px;
        height: 69px;
        margin-right: 10px;

        &_ru {
            background: url("/images/team/ru-flag.jpg") no-repeat center;
        }
        &_en {
            background: url("/images/team/en-flag.jpg") no-repeat center;
        }
        &_no {
            background: url("/images/team/no-flag.jpg") no-repeat center;
        }
        &_fr {
            background: url("/images/team/fr-flag.jpg") no-repeat center;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-family: global.$font-default;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 163.19%;
        color: global.$color-black;
    }

    &__code {
        font-family: global.$font-secondary;
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 27px;
        text-transform: uppercase;
        color: global.$color-blue-2;
    }
}

.team-map {
    width: 100%;
    height: 713px;
    z-index: 1;
    position: relative;

    &__overlay {
        display: none;
        z-index: 2;
        position: absolute;
        top: 40px;
        left: 40px;
        width: calc(100% - 40px);
        height: calc(100% - 100px);

        @media screen and (max-width: 756px) {
            display: block;
        }
    }
}