@use '../utils/vars' as global;

.footer {

    display: flex;

    align-items: center;
    justify-content: center;

    z-index: 2;
    width: 100%;
    padding: 17px 0;
    background: global.$color-blue;

    &__copyright {
        color: global.$color-white;
        font-family: global.$font-secondary;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: lowercase;
    }

}


