@use '../utils/vars' as global;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    width: 100%;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header-nav {
    width: 100%;
    min-height: 85px;
    display: flex;
    justify-content: center;
    border: 1px solid global.$color-white-2;
    background: global.$color-white;
    box-sizing: border-box;
    box-shadow: global.$shadow-default;

    &__wrapper {
        width: 100%;
        max-width: global.$width-container;
        display: flex;
        justify-content: space-between;

        .logo {
            margin-right: 76px;

            @media screen and (max-width: 1200px) {
                margin-right: 33px;
            }

            @media screen and (max-width: 956px) {
                margin-right: 15px;
            }
        }

        @media screen and (max-width: 1200px) {
            max-width: inherit;
            padding: 0 60px;
        }

        @media screen and (max-width: 956px) {
            padding: 0 30px;
        }

        @media screen and (max-width: 756px) {
            padding: 0 15px;
        }
    }

    &__burger {
        display: none;
        z-index: 10;
        transition: position .3s;

        @media screen and (max-width: 656px) {
            display: flex;
            align-items: center;
        }

        &_active {
            position: absolute;
            right: 15px;
            top: 76px;
            transition: position .3s;
        }
    }
}

.header-langs {
    display: flex;
    justify-content: flex-end;
    max-width: global.$width-container;
    padding: 17px 0 23px 0;
    box-sizing: border-box;
    width: 100%;

    &__lang {
        cursor: pointer;
        font-family: global.$font-secondary;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: global.$color-white;
        padding: 1px 3px 2px 3px;
        border-radius: 4px;
        box-sizing: border-box;
        transition: background .3s, color .3s;
        margin-right: 3px;

        &:hover {
            background: global.$color-white;
            color: global.$color-blue-3;
            transition: background .3s, color .3s;
        }

        &:last-child {
            margin-left: 3px;
            margin-right: 0;
        }

        &_active {
            background: global.$color-white;
            color: global.$color-blue-3;
        }
    }

    &__separator {
        font-family: global.$font-secondary;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: global.$color-white;
    }

    &_inner-page {
        .header-langs__lang {
            color: global.$color-black;

            &:hover {
                background: global.$color-blue-2;
                color: global.$color-white;
                transition: background .3s, color .3s;
            }

            &_active {
                background: global.$color-blue-2;
                color: global.$color-white;
            }
        }

        .header-langs__separator {
            color: global.$color-black;
        }
    }

    @media screen and (max-width: 1200px) {
        max-width: inherit;
        padding: 17px 60px 23px 60px;
    }

    @media screen and (max-width: 956px) {
        padding: 17px 30px 23px 30px;
    }

    @media screen and (max-width: 756px) {
        padding: 17px 15px 23px 15px;
    }
}
