@use '../utils/vars' as global;

.main {
    flex: 1 1 100%;
    display: flex;

    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    width: 100%;

    &_index-page {
        z-index: -1;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: global.$width-container;
        box-sizing: border-box;

        @media screen and (max-width: 1200px) {
            max-width: inherit;
            padding: 0 60px;
        }

        @media screen and (max-width: 956px) {
            padding: 0 30px;
        }

        @media screen and (max-width: 756px) {
            padding: 0 15px;
        }
    }

    &__content {
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 756px) {
            margin-top: 40px;
        }
    }
}


